<div class="create-card">
    <div class="top-card">
        <div class="inner-wrap">
            <!-- <div class="hdr-title">
                <div class="create-title">Create New Employee</div>

                
            </div> -->
            <div class="hdr-details">
                <div class="inner-wrap">
                    <div class="create-icon">
                        <span class="icon">
                            <div class="date">
                                <span>{{data.createdAt | date: 'dd'}}</span> <span>{{data.createdAt | date: 'MMM'}}</span>
                            </div>
                            <div class="time mt-2">{{data.createdAt | date: 'hh:mm a'}}</div>
                            <!-- <app-icon [iconName]="'shieldDoc'" [iconWidth]="50" [iconHeight]="50"></app-icon> -->
                        </span>
                        <!-- <img src="../../../../assets/images/illustrations/puzzle.png" /> -->
                    </div>
                    <div class="create-details">
                        <div class="create-name">{{data.title}}</div>
                        <!-- <div class="status approved w-auto d-inline-block sm">Resolved</div> -->
                        <!-- <p>The first step is to complete your business information.</p> -->
                    </div>
                    <div (click)="dialogRef.close()" class="close-btn">&times;</div>
                    <!-- <div *ngIf="isUpdateCustomer" class="create-details">
                        <div class="create-name">{{firstName}} {{lastName}}</div>
                        <div class="create-id">Customer ID: {{customerId}}</div>
                    </div> -->
                </div>
                <div class="hdr-overlay"></div>
            </div>
            
        </div>
    </div>

    <div class="bottom-card">
        <div class="featured-image">
            <img [src]="data.attachments[0].url" alt="">
        </div>
        <div class="content mt-4" [innerHTML]="data.content"></div>
        <div class="author my-4">
            <div class="image"></div>
            <div class="info">
                <span>{{data.createdByName}}</span>
            </div>
        </div>
    </div>
</div>